hidden = [".config"]

entrypoint = "main.oak"
run = "oak main.oak"

compile = "find ./ -type f -name '*.oak' -exec oak fmt {} --fix \\;"

[nix]
channel = "stable-22_11"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"
PATH = "/home/runner/$REPL_SLUG/.config/bin:$PATH"

[languages]

[languages.oak]
# language = "oak"
pattern = "**/*.oak"